p Login
form(action="/login", method="POST")
    label login
    input(name="login", id="login")
    label password
    input(name="password", type="password", id="password")
    input(type="submit", value="login")

    //- script(src="js/login.js")